.container {
    font-size: 16px;
    width: 680px;
}

div.disp {
    width: 460px;
    margin-left: 12px;
    font-size: xx-large;
    text-align: right;
    padding: 10px;
    border : solid 1px #aaaaaa;
}

.btn {
    width: 54px;
    height: 54px;
    
    font-size: 16px;
    text-align: center;
    margin: 2px;
    padding: 0px;
    line-height: 54px;
    border-radius:10px;
}

.num-btn {
    background-color: khaki;
    border : solid 1px #aaaaaa;
}

.op-btn {
    font-weight: bold;
    border : solid 2px #aaaaaa;
    background-color: aqua;
}

.func-btn {
    background-color: #ffa07a;
    border : solid 1px #aaaaaa;
}

.ans-btn {
    width: 228px;
    height: 54px;

    font-weight: bold;
    text-align: center;
    margin: 2px;
    padding: 0px;
    line-height: 54px;
    border : solid 3px #000000;
    border-radius:10px;
    background-color: chartreuse;
}